#top-bar #user-menu .greeting {
    display: block;
}

#top-bar .greeting.mobile {
    display: none;
}

@media screen and ( min-width : 408px ) {

}

@media screen and ( max-width : 480px ) {
    #top-bar #user-menu {
        clear: both;
        margin-top: 2px;
    }

    #top-bar ul {
        float: none;
    }

    #top-bar #user-menu .greeting {
        display: none;
    }

    #top-bar .greeting.mobile {
        display: block;
        float: right;
        margin-top: 8px;
        margin-right: 0;
    }
}
